name: aws-stage-template Template
'on':
  workflow_call:
    inputs:
      aws-region:
        required: false
        type: string
        default: us-east-1
      domain-owner:
        required: true
        type: string
    secrets: {}
permissions:
  contents: read
  id-token: write
jobs:
  aws_stage_template_publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.aws-region }}
          role-to-assume: arn:aws:iam::685975343742:role/fearless-cicd-dummy-repo-deployment_role
          role-session-name: FearlessCICDSession
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Build
        run: |-
          aws sts get-caller-identity
          VERSION=$(git describe --tags --abbrev=0 2>/dev/null | sed "s/v//" || echo "0.0.0")
          npm version $VERSION --no-git-tag-version --allow-same-version
          npm run build
          aws codeartifact login --tool npm --repository fearless-cicd-v2 --domain io-loanpro-api-v2 --domain-owner ${{ inputs.domain-owner }} --region ${{ inputs.aws-region }}
          npm publish --registry https://io-loanpro-api-v2-${{ inputs.domain-owner }}.d.codeartifact.${{ inputs.aws-region }}.amazonaws.com/npm/fearless-cicd-v2/
